[package]
name = "m-bus-parser"
version = "0.0.11"
edition = "2021"
description = "A library for parsing M-Bus frames"
license = "MIT"
homepage = "https://maebli.github.io/"
repository = "https://github.com/maebli/m-bus-parser"
readme = "README.md"
authors = ["Michael Aebli"]
keywords = ["m-bus", "parser", "parse"]
exclude = ["/resources", "/tests", "examples"]

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
walkdir = "2.5.0"
hex = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde-xml-rs = "0.6.0"

[build-dependencies]
bindgen = "0.69.4"

[features]
default = []
std = ["prettytable-rs", "serde_json", "serde_yaml", "serde"]
plaintext-before-extension = []
serde = ["dep:serde", "arrayvec/serde", "bitflags/serde"]

[profile.release]
opt-level = 'z'   # Optimize for size
lto = true        # Enable Link Time Optimization
codegen-units = 1 # Reduce codegen units to improve optimizations

[profile.release.package."m-bus-parser-wasm-pack"]
opt-level = "s"

[dependencies]
prettytable-rs = { version = "^0.10", optional = true }
serde_json = { version = "1.0", optional = true }
serde_yaml = { version = "0.9", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
bitflags = "2.4.2"
arrayvec = { version = "0.7.4", default-features = false }
[workspace]
members = ["cli", "wasm"]
exclude = ["examples/cortex-m"]

[[bench]]
name = "bench"
harness = false


[lints.clippy]
unwrap_used = "warn"
unwrap_in_result = "warn"
panic = "warn"
expect_used = "warn"
unimplemented = "warn"
suspicious = { level = "warn", priority = -1 }
style = { level = "warn", priority = -1 }
complexity = { level = "warn", priority = -1 }
perf = { level = "warn", priority = -1 }
