name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - name: Check Formatting
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Lint with Clippy
      run: |
        rustup component add clippy
        cargo clippy -- -D warnings
    - name: Check for third-party libraries
      run: |
        if grep -q '^\[dependencies\]' Cargo.toml; then
          echo "Third-party libraries found in Cargo.toml"
          exit 1
        fi